.App {
  width:100vw;
  background-image: linear-gradient(to bottom right, #f1e6f4, #fffaf4);
  min-height: 100vh;
}
h1,h2,h3 {
  font-family: "Shadows Into Light", cursive;
  text-shadow: -1px 0 #8498b7, 0 1px #8498b7, 1px 0 #8498b7, 0 -1px #8498b7;
  color:#9cb4d8
}
.pageNum {
  font-size: 25px;
  padding: 1em;
  top: 2%
}
.space {
  height:30px;
  width:100px;
}
.round {
  border-radius: 25px;
}

/* label focus color */
.input-field input[type=text]:focus + label {
     color: #9CB4D8 !important;
}
/* .input-field input[type=text] + label {
  color: #9CB4D8 !important;
 
} */
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #9CB4D8 !important;
     box-shadow: 0 1px 0 0 #9CB4D8 !important;
   }

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #9CB4D8 !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #9CB4D8 !important;
  box-shadow: 0 1px 0 0 #9CB4D8 !important;
}
.dropdown-content li>a, .dropdown-content li>span {
  color: #9CB4D8 !important;
}
.prof{
margin-top:5%;
margin-left:13%;
}
.likebtn {
  margin:5%
}
.row .col.s10 {
  text-align: center
}
.alil{
  margin:3%
}
#dedication{
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.footer-color {
  background-image: linear-gradient(to right, #f9e1c2, #f9dbe7, #ebb5fc);
}