nav {
  background-image: linear-gradient(to right, #f9e1c2, #f9dbe7, #ebb5fc);
  /* display: flex;
  flex-direction: row; */
}
.nav-wrapper img {
  width:75px 50px;
}
.sidenav {
  background-image: url('https://media.tenor.com/images/071fa1f5449efb934bc549d364ca623f/tenor.gif');
  background-repeat: no-repeat;
  background-size: 400px;
}
.NavBar button {
  background-color: #9cb4d8;
}
.NavBar button:hover {
  background-color: #8498b7;
}
.brand-logo img {
  margin-top:30%;
}
.sidenav li>a {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.icons img {
  width:40px;
  float: left;
  border-radius: 50%
}
.nav-icon {
  width:40px;
  float:left;
  margin:5px;
}
